@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.navbar{
    display: flex;
    justify-content: space-around;
}
h1:hover{
    color: blue;
}

.heading{
    font-family: monospace;
    font-size:x-large;
    color:black;
    font-size: 20px; 
    padding: 0px 15px 0px 15px;
}

.list {
    display: inline-flex;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none
}
.list a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list svg{
    color: #3d4459;
}
a:hover{
    color:blue;
}
.icons{
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 200;
}

i{
    cursor: pointer;
}

.heading h1 span{
    color: blue;
    width: fit-content;
} 
.image1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168;
    height: 100%;
    position: absolute;
    margin: 40px;
}

.image2{
    margin: 46px;
}

.section2{
    width: 50%;
    border-radius: 12rem;
}

.section2{
    border-radius: inherit;

}
 
.icon3{
    cursor: pointer;
}

.icons2{
    cursor: pointer;
}
.icons1{
    cursor: pointer;
}
.icons1:hover{
    color: blue;
}
.icons2:hover{
    color: blue;
}
.icon3:hover{
    color: blue;
}

/* Style for the hero section */
.hero-section {
    background-color: rgb(4,98,235);
    width: 100%;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* style for second herosection  */
.hero2-section {
    background-color: white;
    width: 100%;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero p{
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: 100;
    text-transform: capitalize;
    /* line-height: 0em; */
}

.hero h1{
    font-family: "Varela Round", Sans-serif;
}

.hero button{
    font-family: "Montserrat", Sans-serif;
}

/* Style for the hero content */
.hero {
    flex: 1;
    padding: 20px;
    max-width: 600px;
    font-family: "Varela Round", Sans-serif;
    margin: 49px;
}
/* Style for the hero2 content */
.hero1 {
    flex: 1;
    padding: 20px;
    max-width: 600px;
    margin: 71px;
}

/* style for second p */
.hero1 p{
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
}

.hero h1 {
    font-size: 45px;
    color: rgb(255, 247, 247);
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2;
    font-family: "Varela Round", Sans-serif;
}
/* style for second h1 */
.hero1 h1{
    font-size: 45px;
    color: #4632da;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2em;
    font-family: "Varela Round", Sans-serif;

}

.hero1 button{
    font-family: "Montserrat", Sans-serif;
    margin: 30px;
    margin-left: 0px;
}

.button {
    background-color: rgb(0,218,252);
    color: #fff;
    padding: 12px 31px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Montserrat", Sans-serif;
    display: flex;
    font-weight: 500;
    gap: 5px;
}

.button {
    background-color: rgb(0,218,252);
    color: #fff;
    padding: 12px 31px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-family: monospace;
}

.button {
    background-color: rgb(0,218,252);     
    color: #fff;
    padding: 12px 31px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-family: monospace;
}
.button2 button{
    font-family: "Montserrat", Sans-serif;
    align-items: center;
    justify-content: center;
}
.problem1 h1{
    margin-top: -15px;
}

.problems{
    background-color: rgb(229,253,255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 20px;
}
.problem1{
    padding: 46px;
}
.button2{
    margin: 69px;
}
.problems h3{
    font-size: 20px;
    color: #4632da;
    font-weight: 300;
    text-transform: capitalize;
}
.problems h1{
    font-size: 45px;
    color: #3d4459;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2em;
}
.image1 img{
    margin-bottom: -212px;
}

.button:hover {
    background-color: #4632da;
}
.image1{
    position: inherit;
}

/* Style for the image */
.image1 img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    position: none;
    padding: 20px;
    border-radius: 300px 100px 100px 100px; 
}

/* Style for second herosection image */
.image2 img {
    max-width: 100%;
    height: 100%;
    position: none;
    padding: 20px;
    border-radius: 100px 100px 300px 100px;
}

.image img{
    width: 70px;
   margin: 27px;
}
/* card main iv styling */
.cards-inline{
    display: flex;
}
/*first card styling  */
.card {
        width: 300px; 
        height: auto; 
        padding: 20px;
        border: none;
        border-radius: 15px 15px 15px 70px;
        box-shadow: 7px 11px 20px 9px rgba(0,0,0,0.05);
        padding-right: 104px;
        padding-top: 35px;
        padding-bottom: 39px;
        margin: 39px;
}
.card-content{
    margin-left: 35px;
}
.card1 img{
    margin-left: -2px;
    width: 113px;
}
.card button{
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    color: #4632da;
    background-color: white;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -8px;
    cursor: pointer;
}
.card h1{
    color: #3d4459;
    font-family: "Varela Round", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
/* second card slyling*/
.card2{
    width: 300px; 
    height: auto; 
    padding: 20px;
    border: none;
    border-radius: 15px 15px 15px 70px;
    box-shadow: 7px 11px 20px 9px rgba(0,0,0,0.05);
    padding-right: 104px;
    padding-top: 35px;
    padding-bottom: 39px;
    margin: 39px;
}
.card2-content{
    margin-left: 35px;
}
.card2 img{
    margin-left: -2px;
    width: 113px;
}
.card2 button{
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    color: #4632da;
    background-color: white;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -8px;
    cursor: pointer;
}
.card2 h1{
    color: #3d4459;
    font-family: "Varela Round", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
/* third card styling  */
.card3{
    width: 300px; 
    height: auto; 
    padding: 20px;
    border: none;
    border-radius: 15px 15px 15px 70px;
    box-shadow: 7px 11px 20px 9px rgba(0,0,0,0.05);
    padding-right: 104px;
    padding-top: 35px;
    padding-bottom: 39px;
    margin: 39px;
}
.card3-content{
    margin-left: 35px;
}
.card3 img{
    margin-left: -2px;
    width: 113px;
}
.card3 button{
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    color: #4632da;
    background-color: white;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -8px;
    cursor: pointer;
}
.card3 h1{
    color: #3d4459;
    font-family: "Varela Round", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}


