.navbar{
    display: flex;
    justify-content: space-around;
}
h1:hover{
    color: rgb(92,0,65)
}

.heading{
    font-family: monospace;
    font-size:x-large;
    color:black;
    font-size: 20px; 
}

.list {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 28px;
    font-size: 1.2rem;
    text-decoration: none
}
.list a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color: blue;
}
.icons{
    display: flex;
    gap: 20px;
    align-items: center;
}
i{
    cursor: pointer;
}

.heading h1 span{
    color: blue;
    width: fit-content;
} 
.image1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168;
    position: absolute;
}

.section2{
    width: 50%;
    border-radius: 12rem;
}
.section2{
border-radius: inherit;

} 
.icon3{
    cursor: pointer;
}

.icons2{
    cursor: pointer;
}
.icons1{
    cursor: pointer;
}
.icons1:hover{
    color: blue;
}
.icons2:hover{
    color: blue;
}
.icon3:hover{
    color: blue;
}

/* Style for the hero section */
.hero-section {
    background-color: rgb(4,98,235);
    width: 100%;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* style for second herosection  */
.hero2-section {
    background-color: white;
    width: 100%;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the hero content */
.hero {
    flex: 1;
    padding: 20px;
    max-width: 600px;
}
/* Style for the hero2 content */
.hero1 {
    flex: 1;
    padding: 20px;
    max-width: 600px;
}

.hero p {
    font-size: 20px;
    color: white;
    font-weight: 200;
    text-transform: capitalize;
    line-height: 1.2em;
}
/* style for second p */
.hero1 p {
    font-size: 16px;
    color: rgb(161,157,196);
    font-weight: 200;
    line-height: 1.4em;
}

.hero h1 {
    font-size: 45px;
    color: white;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2;
}
/* style for second h1 */
.hero1 h1{
    font-size: 45px;
    color: #4632da;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2em;

}

.button {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 31px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-family: monospace;
}

.button {
    background-color: rgb(0,218,252);
    color: #fff;
    padding: 12px 31px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-family: monospace;
}

.button {
    background-color: #0056b3;     
    color: #fff;
    padding: 12px 31px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    font-family: monospace;
}

.problems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 20px;
}
.problem1{
    padding: 46px;
}
.button2{
    margin: 69px;
}
.problems h3{
    font-size: 20px;
    color: #4632da;
    font-weight: 300;
    text-transform: capitalize;
}
.problems h1{
    font-size: 45px;
    color: #3d4459;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2em;
}

.button:hover {
    background-color:aquamarines;
}
.image1{
    position: inherit;
}

/* Style for the image */
.image1 img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    position: none;
    padding: 20px;
    border-radius: 300px 100px 100px 100px; 
}

/* Style for second herosection image */
.image2 img {
    max-width: 100%;
    height: 100%;
    position: none;
    padding: 20px;
    border-radius: 100px 100px 300px 100px;
}


