/* Style for the hero section */
.hero-section {
    background-color: #f2f2f2;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the hero content */
.hero {
    flex: 1;
    padding: 20px;
    max-width: 600px;
}

.hero p {
    font-size: 18px;
    color: #333;
}

.hero h1 {
    font-size: 36px;
    color: #333;
}

.button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}

/* Style for the image */
.image1 img {
    max-width: 100%;
    height: auto;
}
